<ui5-dialog
  data-testid="dashboard-unsaved-changes-dialog"
  state="Critical"
  [open]="open()"
  (ui5BeforeClose)="cancelled.emit()"
>
  <div class="unsaved-changes-dialog__header" slot="header">
    <ui5-title level="H5">{{
      i18n.getTranslation(i18nKeys.UNSAVED_CHANGES)
    }}</ui5-title>
  </div>
  <div class="unsaved-changes-dialog__body">
    {{ i18n.getTranslation(i18nKeys.UNSAVED_NAV_BODY) }}
  </div>
  <div class="unsaved-changes-dialog__footer" slot="footer">
    <ui5-button
      data-testid="dashboard-unsaved-changes-save-btn"
      design="Emphasized"
      (click)="save.emit()"
      >{{ i18n.getTranslation(i18nKeys.SAVE) }}</ui5-button
    >
    <ui5-button
      data-testid="dashboard-unsaved-changes-discard-btn"
      design="Transparent"
      (click)="discard.emit()"
      >{{ i18n.getTranslation(i18nKeys.DISCARD) }}</ui5-button
    >
    <ui5-button
      data-testid="dashboard-unsaved-changes-cancel-btn"
      design="Transparent"
      (click)="cancelled.emit()"
      >{{ i18n.getTranslation(i18nKeys.CANCEL) }}</ui5-button
    >
  </div>
</ui5-dialog>
