:host {
  display: contents;
}

.unsaved-changes-dialog {
  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75rem 0;
  }

  &__body {
    padding: 0 0 1rem 0;
    min-width: 360px;
    max-width: 32rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }
}
