<div class="mfp-dashboard">
  <div class="mfp-dashboard__topbar">
    <div class="mfp-dashboard__topbar-row">
      <div class="mfp-dashboard__header">
        @if (config().title) {
          <ui5-title level="H2" size="H2" wrapping-type="Normal">{{
            config().title
          }}</ui5-title>
        }
        @if (config().description) {
          <ui5-text>{{ config().description }}</ui5-text>
        }
      </div>

      <div class="mfp-dashboard__toolbar">
        @if (editMode()) {
          <ui5-button
            #addCardBtn
            id="add-card-btn"
            [accessibleName]="addCardButton().text || addCardButton().tooltip || 'Edit Cards'"
            [design]="addCardButton().design"
            [icon]="addCardButton().icon"
            [tooltip]="addCardButton().tooltip"
            (click)="openCardPanel()"
            >{{ addCardButton().text }}</ui5-button
          >
        } @else if (compactToolbar()) {
          <ui5-button
            #menuBtn
            accessibleName="Actions"
            design="Transparent"
            icon="menu2"
            tooltip="Actions"
            (click)="toolbarMenuOpen.update((v) => !v)"
          />
          <ui5-menu
            [open]="toolbarMenuOpen()"
            [opener]="menuBtn.element"
            (ui5Close)="toolbarMenuOpen.set(false)"
            (ui5ItemClick)="
              onMenuItemClick(
                $any($event).detail.item.dataset['action'],
                $event
              )
            "
            (ui5Open)="toolbarMenuOpen.set(true)"
          >
            @for (action of customActions(); track action.action) {
              <ui5-menu-item
                [attr.data-action]="action.action"
                [icon]="action.icon ?? ''"
                [text]="action.text ?? ''"
              />
            }
            @if (config().editable) {
              <ui5-menu-separator />
              <ui5-menu-item
                data-action="edit-view"
                [icon]="editViewButton().icon"
                [text]="editViewButton().text || 'Edit View'"
              />
            }
          </ui5-menu>
        } @else {
          @for (action of customActions(); track action.action) {
            <ui5-button
              [accessibleName]="action.text || action.tooltip || action.action"
              [design]="action.design ?? 'Default'"
              [endIcon]="action?.endIcon"
              [icon]="action.icon ?? ''"
              [tooltip]="action.tooltip ?? ''"
              (click)="
                actionButtonClick.emit({ event: $event, action: action })
              "
              >{{ action.text }}</ui5-button
            >
          }
          @if (config().editable) {
            <ui5-button
              [accessibleName]="editViewButton().text || editViewButton().tooltip || 'Edit View'"
              [design]="editViewButton().design"
              [icon]="editViewButton().icon"
              [tooltip]="editViewButton().tooltip"
              (click)="enterEditMode()"
              >{{ editViewButton().text }}</ui5-button
            >
          }
        }
      </div>
    </div>

    <div class="mfp-dashboard__subheader">
      <ng-content select="[slot=dashboard-subheader]" />
    </div>
  </div>
  <div class="mfp-sections-container">
    @for (section of sections(); track section.id) {
      <mfp-dashboard-section
        [cards]="sectionCards()(section.id)"
        [columns]="12"
        [editMode]="editMode()"
        [section]="section"
        (removeCard)="removeCard($event)"
        (removeSection)="removeSection(section.id)"
      />
    }
  </div>
  <gridstack #grid [options]="gridOptions()" (removedCB)="onGridChange($event)" (addedCB)="onGridChange($event)" (changeCB)="onGridChange($event)">
    @for (card of looseCards(); track card.id) {
      <gridstack-item
        [options]="card"
        [style.cursor]="editMode() ? 'pointer' : 'auto'"
      >
        <mfp-dashboard-card
          [card]="card"
          [editMode]="editMode()"
          (removeCard)="removeCard($any(card.id))"
        />
      </gridstack-item>
    }
  </gridstack>

  @if (editMode()) {
    <div class="mfp-dashboard__edit-bar">
      <ui5-button design="Emphasized" (click)="saveEdit()">Save</ui5-button>
      <ui5-button design="Transparent" (click)="cancelEdit()"
        >Cancel</ui5-button
      >
    </div>
  }
</div>

<mfp-edit-cards-dialog
  [addedCardsIds]="addedCardsIds()"
  [availableCards]="availableCards()"
  [open]="cardDialogOpen()"
  (cancelled)="closeCardPanel()"
  (confirm)="onCardsEdited($event)"
/>
