# Default code owners
* @openmfp/frame @openmfp/ui-approvers @openmfp/tsc
package.json @openmfp/frame @openmfp/ui-approvers @openmfp/tsc
package-lock.json @openmfp/frame @openmfp/ui-approvers @openmfp/tsc
