<div class="card">
  <div class="card__header">
    @if (header(); as header) {
      <div class="card__title">
        {{ header }}
        @if (headerTooltip(); as tooltip) {
          <ui5-icon
            class="card__info-icon"
            name="hint"
            [showTooltip]="true"
            [accessibleName]="tooltip"
          />
        }
      </div>
    }
    <div class="card__actions">
      @if (searchExpanded()) {
        <ui5-input
          #searchInput
          [class]="
            'card__search-input card__search-input--' +
            (searchCollapsing() ? 'leave' : 'enter')
          "
          [formControl]="searchControl"
          (blur)="onSearchBlur()"
          (animationend)="onSearchAnimationEnd()"
        />
      }
      <ui5-button
        class="card__search-btn"
        design="Transparent"
        [icon]="searchButtonConfig()?.icon ?? 'search'"
        [tooltip]="searchButtonConfig()?.tooltip ?? 'Search'"
        (click)="toggleSearch()"
      />
      @if (createFormConfig()) {
        <ui5-button
          class="card__create-btn"
          [icon]="createButtonConfig()?.icon ?? 'add'"
          [design]="createButtonConfig()?.design ?? 'Transparent'"
          [tooltip]="createButtonConfig()?.tooltip"
          (click)="createDialogOpen.set(true)"
        >
          {{ createButtonConfig()?.text ?? '' }}
        </ui5-button>
      }
    </div>
  </div>

  <div class="card__body">
    @if (tableConfig(); as config) {
      <mfp-declarative-table
        [columns]="effectiveColumns()"
        [resources]="resources()"
        [totalItemsCount]="config.totalItemsCount"
        [paginationLimit]="config.paginationLimit ?? 5"
        [hasMore]="config.hasMore ?? false"
        (buttonClick)="onButtonClick($event)"
        (tableRowClicked)="tableRowClicked.emit($event)"
        (loadMoreResources)="loadMoreResources.emit()"
        (paginationLimitChanged)="paginationLimitChanged.emit($event)"
      />
    }
  </div>
</div>

@if (createFormConfig(); as config) {
  <ui5-dialog
    [open]="createDialogOpen()"
    (ui5BeforeClose)="createDialogOpen.set(false)"
  >
    <div slot="header" class="dialog__header">
      <ui5-title level="H5">{{ config.title ?? 'Create' }}</ui5-title>
    </div>
    <div class="dialog__body">
      <mfp-declarative-form
        #createForm
        [fields]="config.fields"
        (formValue)="pendingFormValue.set($event)"
      />
    </div>
    <div slot="footer" class="dialog__footer">
      <ui5-button
        design="Emphasized"
        [disabled]="createForm.form.invalid"
        (click)="onCreateConfirm()"
      >
        {{ config.confirmLabel ?? 'Save' }}
      </ui5-button>
      <ui5-button design="Transparent" (click)="createDialogOpen.set(false)">
        {{ config.cancelLabel ?? 'Cancel' }}
      </ui5-button>
    </div>
  </ui5-dialog>
}

@if (editFormConfig(); as config) {
  <ui5-dialog
    [open]="editDialogOpen()"
    (ui5BeforeClose)="editDialogOpen.set(false)"
  >
    <div slot="header" class="dialog__header">
      <ui5-title level="H5">{{ config.title ?? 'Edit' }}</ui5-title>
    </div>
    <div class="dialog__body">
      <mfp-declarative-form
        #editForm
        [fields]="config.fields"
        [editMode]="true"
        [initialValues]="editInitialValue()"
        (formValue)="pendingFormValue.set($event)"
      />
    </div>
    <div slot="footer" class="dialog__footer">
      <ui5-button
        design="Emphasized"
        [disabled]="editForm.form.invalid"
        (click)="onEditConfirm()"
      >
        {{ config.confirmLabel ?? 'Edit' }}
      </ui5-button>
      <ui5-button design="Transparent" (click)="editDialogOpen.set(false)">
        {{ config.cancelLabel ?? 'Cancel' }}
      </ui5-button>
    </div>
  </ui5-dialog>
}

@if (deleteConfirmationConfig(); as config) {
  <ui5-dialog
    [open]="deleteDialogOpen()"
    (ui5BeforeClose)="deleteDialogOpen.set(false)"
  >
    <div slot="header" class="dialog__header">
      <ui5-title level="H5">{{ config.title ?? 'Confirm Delete' }}</ui5-title>
    </div>
    @if (config.message) {
      <div class="dialog__body">
        <p class="dialog__message">{{ config.message }}</p>
      </div>
    }
    <div slot="footer" class="dialog__footer">
      <ui5-button design="Negative" (click)="onDeleteConfirm()">
        {{ config.confirmLabel ?? 'Delete' }}
      </ui5-button>
      <ui5-button design="Transparent" (click)="deleteDialogOpen.set(false)">
        {{ config.cancelLabel ?? 'Cancel' }}
      </ui5-button>
    </div>
  </ui5-dialog>
}
