<ui5-dialog
  [open]="open()"
  header-text="Add Card"
  (ui5BeforeClose)="cancel.emit()"
>
  <div class="add-card-dialog">
    @if (availableCards().length === 0) {
      <p class="add-card-dialog__empty">No cards available.</p>
    }
    @for (ac of availableCards(); track ac.component) {
      @let alreadyAdded = addedComponents().has(ac.component);
      <div
        class="add-card-dialog__item"
        [class.add-card-dialog__item--disabled]="alreadyAdded"
      >
        <ui5-checkbox
          [checked]="alreadyAdded || selectedComponents().has(ac.component)"
          [disabled]="alreadyAdded"
          (ui5Change)="toggle(ac.component)"
          [text]="ac.label || ac.component"
        />
      </div>
    }
  </div>
  <div slot="footer" class="add-card-dialog__footer">
    <ui5-button design="Emphasized" (click)="confirmAdd()">Add</ui5-button>
    <ui5-button design="Transparent" (click)="cancel.emit()">Cancel</ui5-button>
  </div>
</ui5-dialog>
