<ui5-search
  #searchInput
  [accessibleName]="searchConfig().accessibleName"
  [placeholder]="searchConfig().placeholder"
  [scopeValue]="activeScope()?.property"
  [showClearIcon]="searchConfig().showClearIcon ?? true"
  [value]="externalValue()"
  (ui5Input)="onSearchInput($event)"
  (ui5ScopeChange)="onSearchScopeChange($event)"
  (ui5Search)="onSearchSubmit($event)"
>
  @for (s of searchConfig().scopes ?? []; track s.value) {
    <ui5-search-scope slot="scopes" [text]="s.label" [value]="s.property" />
  }
</ui5-search>
