<ui5-dialog
  [accessibleName]="config()?.title ?? defaultTitle()"
  [attr.data-testid]="dataTestidPrefix() + '-dialog'"
  [open]="open()"
  (ui5BeforeClose)="cancelled.emit()"
>
  <div class="dialog__header" slot="header">
    <ui5-title level="H5">
      <span
        [innerHTML]="config()?.title ?? defaultTitle() | sanitizeHtml"
      ></span>
    </ui5-title>
  </div>
  <div class="dialog__body">
    <mfp-declarative-form
      #form
      [fieldErrors]="fieldErrors()"
      [fields]="fields()"
      [initialValues]="initialValues()"
      (fieldChange)="fieldChange.emit($event)"
      (formSubmit)="submitted.emit($event)"
    />
  </div>
  <div class="dialog__footer" slot="footer">
    <ui5-button
      design="Emphasized"
      [attr.data-testid]="dataTestidPrefix() + '-confirm'"
      [disabled]="hasErrors()"
      (click)="form.submit()"
    >
      {{ config()?.confirmLabel ?? defaultConfirmLabel() }}
    </ui5-button>
    <ui5-button
      design="Transparent"
      [attr.data-testid]="dataTestidPrefix() + '-cancel'"
      (click)="cancelled.emit()"
    >
      {{ config()?.cancelLabel ?? defaultCancelLabel() }}
    </ui5-button>
  </div>
</ui5-dialog>
