<ui5-dialog [open]="open()" (ui5BeforeClose)="cancelled.emit()">
  <div class="discard-changes-dialog__header" slot="header">
    <ui5-icon
      class="discard-changes-dialog__icon"
      name="alert"
      accessible-name="Warning"
    />
    <ui5-title level="H5">Discard Changes</ui5-title>
  </div>
  <div class="discard-changes-dialog__body">
    Discard the changes? This action cannot be undone.
  </div>
  <div class="discard-changes-dialog__footer" slot="footer">
    <ui5-button design="Emphasized" (click)="confirm.emit()">Discard</ui5-button>
    <ui5-button design="Transparent" (click)="cancelled.emit()">Cancel</ui5-button>
  </div>
</ui5-dialog>
