@if (card().component) {
  <div
    class="component-card"
    [attr.data-testid]="'dashboard-card-' + card().id"
    [class.component-card--editing]="editMode()"
  >
    @if (editMode()) {
      <div class="remove-wrapper">
        <ui5-button
          class="card__remove"
          design="Default"
          icon="decline"
          [accessibleName]="
            i18n.getTranslation(i18nKeys.REMOVE_CARD) +
            ': ' +
            (card().label || card().component)
          "
          [attr.data-testid]="'dashboard-card-' + card().id + '-remove'"
          (click)="removeCard.emit()"
        />
      </div>
      <ui5-icon
        aria-hidden="true"
        class="card__resize-indicator"
        name="resize-corner"
        [accessibleName]="i18n.getTranslation(i18nKeys.RESIZABLE)"
      />
    }
    <div
      [attr.inert]="editMode() ? '' : null"
      [class]="componentHostClasses"
      [style.pointer-events]="editMode() ? 'none' : 'auto'"
    >
      <div #elementHost></div>
    </div>
  </div>
} @else {
  <div class="card" [attr.data-testid]="'dashboard-card-' + card().id">
    <div
      [attr.inert]="editMode() ? '' : null"
      [class]="cardBodyClasses"
      [style.pointer-events]="editMode() ? 'none' : 'auto'"
    >
      <ng-content />
    </div>
  </div>
}
