@if (card().component) {
  <div class="component-card">
    @if (editMode()) {
      <div class="remove-wrapper">
        <ui5-button
          class="card__remove"
          design="Default"
          icon="decline"
          (click)="removeCard.emit()"
        />
      </div>
    }
    <div
      class="component-host"
      [style.pointer-events]="editMode() ? 'none' : 'auto'"
    >
      <div #elementHost></div>
    </div>
  </div>
} @else {
  <div class="card">
    <div
      class="card__body"
      [style.pointer-events]="editMode() ? 'none' : 'auto'"
    >
      <ng-content />
    </div>
  </div>
}