<div class="filter-tabs">
  @if (canScrollLeft()) {
    <button
      aria-label="Scroll filters left"
      class="filter-tabs__chevron filter-tabs__chevron--left"
      type="button"
      (click)="scroll('left')"
    >
      <ui5-icon name="navigation-left-arrow" />
    </button>
  }
  <div #strip class="filter-tabs__strip" role="tablist" (scroll)="onScroll()">
    @for (tab of tabs(); track tab.property + ':' + tab.value) {
      <button
        class="filter-tabs__tab"
        role="tab"
        type="button"
        [attr.aria-selected]="activeTab() === tab"
        [class.filter-tabs__tab--active]="activeTab() === tab"
        (click)="select(tab)"
      >
        {{ tab.label }}
      </button>
    }
  </div>
  @if (canScrollRight()) {
    <button
      aria-label="Scroll filters right"
      class="filter-tabs__chevron filter-tabs__chevron--right"
      type="button"
      (click)="scroll('right')"
    >
      <ui5-icon name="navigation-right-arrow" />
    </button>
  }
</div>
