:host {
  display: inline-flex;
  align-items: center;
}

:host(.resource-field--collection) {
  display: block;
  width: 100%;
}

.secret-value-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.toggle-icon {
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 0.25rem;

  &:hover {
    color: var(--sapButton_Hover_TextColor, #0854a0);
  }
}
