<div
  class="visited-card-wrapper"
  role="button"
  tabindex="0"
  (click)="cardClick.emit(path())"
  (keydown.enter)="cardClick.emit(path())"
>
  <span class="visited-card__type-badge">{{ serviceType() }}</span>
  <ui5-card class="visited-card">
    <ui5-card-header
      slot="header"
      [interactive]="true"
      [subtitleText]="serviceDescription()"
      [titleText]="serviceName()"
    >
      <ui5-icon
        class="visited-card__icon"
        slot="avatar"
        [name]="serviceIcon()"
      />
    </ui5-card-header>
  </ui5-card>
</div>
