@let displayType = displayAs();
<span [attr.test-id]="testId()" [class.label-value]="labelDisplay()" [style]="cssStyles()">
  @if (displayType === 'secret') {
    <span class="secret-value-container">
      <mfp-secret-value [isVisible]="isVisible()" [testId]="testId() + '-secret'" [value]="value()" />
      <ui5-icon
        class="toggle-icon"
        [attr.test-id]="testId() + '-secret-toggle'"
        [name]="isVisible() ? 'hide' : 'show'"
        (click)="toggleVisibility($event)"
      />
    </span>
  } @else if (displayType === 'boolIcon' && isBoolLike()) {
    <mfp-boolean-value [boolValue]="boolValue()!" [testId]="testId() + '-boolean'" />
  } @else if (displayType === 'link' && isUrlValue()) {
    <mfp-link-value [testId]="testId() + '-link'" [urlValue]="stringValue()!" />
  } @else if (displayType === 'tooltip') {
    <ui5-icon
      [accessibleName]="stringValue()!"
      [attr.test-id]="testId() + '-tooltip'"
      [name]="tooltipIcon() ?? 'hint'"
      [showTooltip]="true"
    />
  } @else if (displayType === 'alert') {
    @if (!value()) {
      <ui5-icon
        design="Critical"
        name="alert"
        [accessibleName]="resource()?.accessibleName ?? ''"
        [attr.test-id]="testId() + '-icon'"
        [showTooltip]="true"
        (click)="$event.stopPropagation()"
      />
    }
  } @else if (displayType === 'img' && value()) {
    <img alt="Resource image" class="image-cell" [src]="value()" />
  } @else if (displayType === 'button') {
    @let buttonSettings = uiSettings()?.buttonSettings;
    <ui5-button
      [design]="buttonSettings?.design"
      [endIcon]="buttonSettings?.endIcon"
      [icon]="buttonSettings?.icon"
      [tooltip]="buttonSettings?.tooltip"
      (click)="buttonClicked($event)"
      >{{ buttonSettings?.text }}</ui5-button
    >&nbsp;
  } @else {
    {{ value() }}
  }
</span>

@if (withCopyButton()) {
  <ui5-icon
    class="toggle-icon"
    name="copy"
    [attr.test-id]="testId() + '-copy'"
    (click)="copyValue($event)"
  />
}
